/*My Custom CSS*/

body {
    background-color: #C2EDCE;
    padding-top: 25px;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

p {
   font-family: 'Bebas Neue', cursive;
}

.row {
    padding: 15px;
    height: 300px;
    width: 100%;
}

.p-2 {
    width: 600px;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

